VITE_ROUTER_API_KEY=demo

# Public demo
VITE_ROUTER_API_BUILD_URL=https://router.cartoway.com
VITE_ROUTER_API_RUNTIME_URL=https://router.cartoway.com

# Local development
# VITE_ROUTER_API_BUILD_URL=http://api:8082
# VITE_ROUTER_API_RUNTIME_URL=http://localhost:8082

VITE_ENABLED_TRANSPORT_MODES=car,cargo_bike,scooter,van,truck_19
VITE_ACTIVE_TRANSPORT_MODES=car,cargo_bike

VITE_GEOCODER_API_URL=https://geocoder.cartoway.com
VITE_GEOCODER_API_KEY=demo
VITE_ISOLINE_MAX_PROFILES=6
